__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.git
.gitignore
.coverage
.tox
.nox
nosetests.xml
coverage.xml
*.cover
.hypothesis
.ipynb_checkpoints
.vscode/
.idea/
*.swp
*.swo
docs/
build/
dist/
*.log
*.ini
*.cfg
*.conf
*.tmp
*.bak
*.egg
*.egg-info/
*.whl
tests/
pytest.ini
