{% extends "base.html" %}
{% block title %}Confirm View{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 1400px; text-align: center;">
    <p class="text-muted mt-3" style="font-size: 14px;">
        Once you open the note, it will be permanently deleted when you close the page.
    </p>
    <div class="mt-4">
        <form action="{{ url_for('notes.post_confirmation', temporary_key=temporary_key, secret_part=secret_part) }}" method="post">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
{% endblock %}
