{% extends "base.html" %}
{% block title %}Confirm View{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 1400px; text-align: center;">
    <p class="text-muted mt-3" style="font-size: 14px;">
        Once you open the note, it will be permanently deleted when you close the page.
    </p>
    <div class="mt-4">
        <a href="{{ url_for('notes.get_note_by_key', temporary_key=temporary_key, secret_part=secret_part) }}" class="btn btn-primary">View the Note</a>
    </div>
</div>
{% endblock %}
